{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List CRUD - Oey Alycia Resto & Cafe</title>
    <link rel="icon" href="{% static 'images/resto_icon.png' %}" />
    
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
   
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Feather Icons -->
    <script src="https://unpkg.com/feather-icons"></script>
  </head>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/product_crud_list.css' %}?v={{ timestamp }}" />

  <body class="custom-body">
    <!-- Navbar start -->
    <nav class="navbar" x-data="{ isLoggedIn: {{ user.is_authenticated|yesno:"true,false" }} }">
        <a href="{% url "home" %} " class="navbar-logo">
          Oey <span>Alycia </span> Resto & <span> Cafe</span>
        </a>
        <div class="navbar-nav">
          <a href="{% url "home" %} ">Tentang Kami</a>
          <a href="{% url "home" %} ">Menu</a>
          <a href="{% url "product_list" %}">Produk</a>
          <a href="{% url "contact" %}">Kontak</a>
          {% csrf_token %}
    <!-- Tombol Kartu Member (Muncul saat belum login) -->
    {% if user.is_authenticated %}
    <a
  href="{% url 'login' %}"
  x-show="!isLoggedIn"
  class="rounded-full bg-white px-[10px] py-[6px] text-xs uppercase text-black transition-colors hover:bg-black hover:text-white lg:hidden"
>
  Kartu Member
</a>
<a
  href="{% url 'logout' %}"
  x-show="isLoggedIn"
  class="rounded-full bg-white px-[10px] py-[6px] text-xs uppercase text-black transition-colors hover:bg-black hover:text-white lg:hidden"
>
  Logout
</a>
<a
  href="{% url 'profile' %}"
  x-show="isLoggedIn"
  class="navbar-item"
>
  Hi, {{ user.username }}
</a>
{% endif %}
  </div>
  <div class="navbar-extra">
    <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
  </div>
    </nav>
    <!-- Navbar end -->

    <!-- Main Content -->
    <div class="container custom-container">
      <div class="top-buttons">
        {% if user.is_staff %}
        <a href="{% url 'product_add' %}" class="add-button">Tambah Produk</a>
        <a href="{% url 'product_setting' %}" class="settings-button"
          >Setting Produk</a
        >
        {% endif %}
      </div>
      <h1 class="text-center"><span>Daftar</span> Produk</h1>
      <div class="row mt-4">
        {% if products %} {% for product in products %}
        <div class="col-md-4 mb-4">
          <div class="product-card">
            <img src="{{ product.img.url }}" alt="{{ product.name }}" />
            <div class="p-3">
              <h5>{{ product.name }}</h5>
              <p><strong>Deskripsi:</strong> {{ product.description }}</p>
              <p><strong>Harga:</strong> Rp {{ product.price }}</p>
              <p><strong>Tersedia:</strong> {{ product.stock }}</p>

              {% if user.is_authenticated %}
              <a
                href="{% url 'add_to_payment' product.id %}"
                class="btn btn-primary"
                >Pesan</a
              >
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %} {% else %}
        <p class="text-center">Tidak ada produk yang tersedia saat ini.</p>
        {% endif %}
      </div>
    </div>

     <!-- Footer start -->
   <div id="footer"></div>
   <!-- CSS -->
   <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
   <!-- Footer end -->

    <!-- My Javascript -->
    <script src="{% static 'js/footer.js' %}?v={{ timestamp }}"></script>
    <script src="{% static "js/script.js" %}?v={{ timestamp }} "></script>
    
    
    <!-- Feather Icons -->
    <script>
        feather.replace();
      </script>
  
  </body>
</html>
