{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daftar Pembayaran Product</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/payment_list.css' %}?v={{ timestamp }}"/>
    <link rel="icon" href="{% static "images/logo.jpg"  %}">
  </head>
  <body>
    <div class="container">
      <h1>Daftar Pembayaran</h1>
      {% if payments %}
      <table class="table">
        <thead>
          <tr>
            <th>No</th>
            <th>Nama Produk</th>
            <th>Jumlah</th>
            <th>Harga</th>
            <th>Total Harga</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          {% for payment in payments %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ payment.product.name }}</td>
            <td>{{ payment.quantity }}</td>
            <td>Rp{{ payment.product.price|floatformat:0 }}</td>
            <td>Rp{{ payment.quantity|multiply:payment.product.price|floatformat:0 }}</td>
            <td>
              <form action="{% url 'decrease_quantity' payment.id %}" method="post" style="display: inline">
                {% csrf_token %}
                <button type="submit" class="btn-kurangi">Kurangi Produk</button>
              </form>
              <form action="{% url 'delete_payment' payment.id %}" method="post" style="display: inline">
                {% csrf_token %}
                <button type="submit" class="btn-hapus">Hapus Produk</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="total-payment">Total Payment: Rp{{ total_payment|floatformat:0 }}</p>

      <form method="post" action="{% url 'complete_order' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="payment_method">Metode Pembayaran:</label>
        <select name="payment_method" id="payment_method" required>
          <option value="" disabled selected>Silahkan Pilih Metode Pembayaran</option>
          <option value="Cash">Cash</option>
          <option value="QRIS">QRIS</option>
        </select>

        <div class="qris-container" id="qris-container">
          <p class="qris-header">Scan QRIS untuk Melakukan Pembayaran</p>
          <img src="{% static 'images/qris.jpg' %}" alt="QRIS Code" class="qris-image" />
          <p class="qris-instructions">Gunakan aplikasi pembayaran untuk memindai kode QR.</p>
        </div>

        <div class="proof-container">
          <label for="proof" class="proof-label">Upload Bukti Pembayaran:</label>
          <input type="file" name="proof" class="proof-input" />
        </div>

        <button type="submit" class="confirm-payment-button">Konfirmasi Pembayaran</button>
      </form>

      {% else %}
      <p class="text-center">Tidak Ada Produk Yang Tersedia.</p>
      {% endif %}

      <div>
        <button class="btn btn-back" onclick="window.history.back()">Kembali Ke Product</button>
      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const paymentMethodSelect = document.getElementById('payment_method');
        const qrisContainer = document.getElementById('qris-container');
        paymentMethodSelect.addEventListener('change', () => {
          if (paymentMethodSelect.value === 'QRIS') {
            qrisContainer.style.display = 'block';
          } else {
            qrisContainer.style.display = 'none';
          }
        });
      });
    </script>
  </body>
</html>
